<div class="container-fluid main-section">
  <div class="row flex-nowrap main-height">
    <app-aside class="col-md-3 bg-light d-none d-md-block d-flex align-items-end bg-image shadow-sm"></app-aside>
    <div class="col-md-9 p-5 d-flex justify-content-center">
      <div class="section-section">
        <h5>Pedidos</h5>
        <p>Aqui podrás revisar tus pedidos.</p>
        <!--<div class="section-section-buttons">
          <button class="btn btn-dark shadow-sm">Pendientes</button>
          <button [routerLink]="['/pedidos/finalizados']" class="btn btn-light shadow-sm">Finalizados</button>
          <button [routerLink]="['/pedidos/recogidos']" class="btn btn-light shadow-sm">Recogidos</button>
        </div>-->
        <div *ngIf="this.totalDemandas>0 && this.loading" class="d-flex justify-content-between align-items-center ps-4 pe-4 mt-4">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="fs-1 m-0"><strong>{{this.totalDemandas}}</strong></p>
            <p><strong>Solicitados</strong></p>
          </div>
          <!--<button [routerLink]="['/donar']" class="btn btn-success shadow-sm">Finalizar</button>-->
        </div>
        <div *ngIf="this.totalDemandas<=0 && this.loading">
          <div class="d-flex flex-column justify-content-center align-items-center taper-div">
            <img class="m-0 p-0 taper-vacio" src="../../assets/img/tapper-vacio.webp">
            <p class="m-0 p-0 fs-2">:(</p>
            <p class="m-0 p-0 text-center">Actualmente no hay ningun pedido pendiente.</p>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-3 mt-0">
          <!--INICIO TARJETA DONACION EN CURSO-->
          <ng-container *ngIf="this.totalDemandas > 0 && this.loading">
            <ng-container *ngFor="let plato of this.platos; index as indice" class="col">
              <div  *ngIf="plato != null">
                <div class="card h-100 mb-3 shadow-sm" id="{{indice}}">
                  <div class="card-header border-0 justify-content-between align-items-center text-bg-success">
                    <div class="cardimg">
                      <img src="../../assets/img/cocinar.jpg" alt="">
                    </div>
                    <p class="p-0 m-0">Demanda Nº{{indice}}</p>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title mt-4 mb-1">{{plato.nombre}}</h5>
                    <p class="card-text mb-1">{{plato.descripcion}}</p>
                    <div *ngIf="plato.notas!=''">
                      <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{plato.notas}}</figcaption>
                    </div>
                    <h6 class="card-title mb-1">Alérgenos</h6>
                    <div class="d-flex flex-wrap mb-0 gap-1">
                        <app-pintaalergenos [alergenosPlato]=alergenosPlatos[indice]></app-pintaalergenos>
                    </div>
                    <h6 class="card-title mt-0 mb-1">Datos de entrega</h6>
                    <p class="card-text mb-0">{{plato.direccion}}, 0{{plato.cp}}</p>
                    <p class="card-text mb-1">{{plato.f_recogida}} a las {{plato.h_recogida}}</p>
                    <div *ngIf="plato.anotacion!=''">
                      <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{plato.anotacion}}</figcaption>
                    </div>
                    <h6 class="card-title mt-2">Raciones: {{this.plato.raciones}}</h6>
                    <div class="d-flex flex-wrap gap-2" id="plato_{{indice}}">
                      <div *ngFor="let racion of [].constructor(this.plato.raciones); index as u">
                        <div class="racion"></div>
                      </div>
                    </div>
                  </div>

                  <div class="card-footer border-0">
                    <div class="div_borrar" data-bs-toggle="modal" data-bs-target="#borrarPedido">
                      <svg xmlns="http://www.w3.org/2000/svg" title="Eliminar pedido" height="25" class="bi bi-trash btn_eliminar_entrega" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                      <p>Borrar</p>
                    </div>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade2" id="borrarPedido" tabindex="-1" aria-labelledby="borrarPedidoLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="red" class="bi bi-exclamation-triangle p-1" viewBox="0 0 16 16">
                          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                        </svg>
                        <h1 class="modal-title fs-5" id="borrarPedidoLabel">Cancelar pedido</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg close p-1" width="30px" data-bs-dismiss="modal" aria-label="Close" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                      </div>
                      <div class="modal-body text-center fs-6">
                        Estas a punto de cancelar el pedido Nº{{indice}}.
                      </div>
                      <div class="modal-footer">
                        <button (click)="borrarDemanda(indice)" type="button" class="btn btn-danger close" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <!--FIN TARJETA DONACION EN CURSO-->
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-navsm></app-navsm>
</footer>

