<div class="container-fluid main-section">
  <div class="row flex-nowrap main-height">
    <app-aside class="col-md-3 bg-light d-none d-md-block d-flex align-items-end bg-image shadow-sm"></app-aside>
    <div class="col-md-9 p-5 d-flex justify-content-center">
      <div class="section-section">
        <h5>Pedidos</h5>
        <p>Aqui podrás revisar y/o finalizar tus pedidos.</p>
        <div class="section-section-buttons">
          <button class="btn btn-dark shadow-sm">Pendientes</button>
          <button [routerLink]="['/pedidos/finalizados']" class="btn btn-light shadow-sm">Finalizados</button>
          <button [routerLink]="['/pedidos/recogidos']" class="btn btn-light shadow-sm">Recogidos</button>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-4 pe-4 mt-4">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="fs-1 m-0"><strong>{{this.totalDemandas}}</strong></p>
            <p><strong>Pendientes</strong></p>
          </div>
          <button [routerLink]="['/donar']" class="btn btn-success shadow-sm">Finalizar</button>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-3 mt-0">

        <!--INICIO TARJETA DONACION EN CURSO-->
        <ng-container *ngIf="this.totalDemandas > 0">
          <ng-container *ngFor="let plato of this.platos; index as indice" class="col">
            <div  *ngIf="plato != null">        
              <div class="card h-100 mb-3 shadow-sm" id="{{indice}}">
                <div class="card-header border-0 justify-content-between align-items-center">
                  <div class="cardimg">
                    <img src="../../assets/img/cocinar.jpg" alt="">
                  </div>
                  <p class="p-0 m-0">Demanda Nº{{indice}}</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-4 mb-1">{{plato.nombre}}</h5>
                  <p class="card-text mb-1">{{plato.descripcion}}</p>
                  <div *ngIf="plato.notas!=''">
                    <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{plato.notas}}</figcaption>
                  </div>
                  <h6 class="card-title mb-1">Alérgenos</h6>
                  <div class="d-flex flex-wrap mb-2 gap-1">
                      <app-pintaalergenos [alergenosPlato]=alergenosPlatos[indice]></app-pintaalergenos>
                  </div>
                  <h6 class="card-title mt-3 mb-1">Datos de entrega</h6>
                  <p class="card-text mb-0">{{plato.direccion}}, 0{{plato.cp}}</p>
                  <p class="card-text mb-1">{{plato.f_recogida}} a las {{plato.h_recogida}}</p>
                  <div *ngIf="plato.anotacion!=''">
                    <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{plato.anotacion}}</figcaption>
                  </div>
                  <h6 class="card-title">Raciones: {{this.plato.raciones}}</h6>
                  <div class="d-flex flex-wrap gap-2" id="plato_{{indice}}">
                    <div *ngFor="let racion of [].constructor(this.plato.raciones); index as u">
                      <div class="racion"></div>      
                    </div> 
                  </div>
                </div>

                <div class="card-footer border-0">
                  <div class="div_borrar">
                    <svg xmlns="http://www.w3.org/2000/svg" title="Eliminar pedido" height="25" class="bi bi-trash btn_eliminar_entrega" viewBox="0 0 16 16" (click)="borrarDemanda(indice)">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                    <p>Borrar</p>
                  </div>
                </div>
              </div>

            </div>
          </ng-container>
      </ng-container>
        <!--FIN TARJETA DONACION EN CURSO-->

        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-navsm></app-navsm>
</footer>

