<div class="container-fluid main-section">
  <div class="row flex-nowrap main-height">
    <app-aside class="col-md-3 bg-light d-none d-md-block d-flex align-items-end bg-image shadow-sm"></app-aside>
    <div class="col-md-9 p-5 d-flex justify-content-center">
      <div class="section-section">
        <h5>Buscar</h5>
        <p>Aquí podrás ver las donaciones publicadas y añadir las que desees a tu pedido.</p>
        <!--<div class="section-section-buttons">
          <button class="btn btn-dark shadow-sm">Todas</button>
          <button [routerLink]="['/opiniones']" class="btn btn-light shadow-sm">Cerca de mi</button>
          <div class="d-flex w-25 gap-3 align-items-center justify-content-center">
            <label for="buscarRadio" class="form-label mb-0">Radio</label>
            <input type="range" class="form-range" min="0" max="5" step="1" id="buscarRadio">
          </div>
        </div>-->
        <div *ngIf="(this.donacionesTotales)>0 && this.loading" class="d-flex justify-content-between align-items-center ps-4 pe-4 mt-4">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="fs-1 m-0"><strong>{{this.donacionesTotales}}</strong></p>
            <p><strong>Donaciones</strong></p>
          </div>
          <!--<button (click)="envioCarrito()" class="btn p-0 border-0 position-relative carrito" [ngClass]="this.count===0 ? 'disabled':'activo'" type="submit" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" data-bs-title="Continuar con el pedido" >
            <svg xmlns="http://www.w3.org/2000/svg" width="40" fill="black" class="bi bi-cart3" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">
              <span>{{this.count}}</span>
            </span>
          </button>-->
        </div>
        <!-- Modal -->
        <div (click)="closeModal()" *ngIf="this.showModal" class="veil" id="veil"></div>
        <div *ngIf="this.showModal" class="modal text-center show" style="display: block;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="yellowgreen" class="bi bi-info-circle p-1" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <h1 class="modal-title fs-5">Continuar con el pedido</h1>
                <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="30px" data-bs-dismiss="modal" aria-label="Close" viewBox="0 0 16 16" class="bi bi-x-lg close p-1">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                </svg>
              </div>
              <div class="modal-body">Tu pedido aun no ha sido finalizado. Revisa tus pedidos pendientes y finalizalos.</div>
              <div class="modal-footer">
                <button [routerLink]="['/pedidos']" type="button" class="btn btn-success mt-2">Ver mis pedidos pendientes</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(this.donacionesTotales)===0 && this.loading">
          <div class="d-flex flex-column justify-content-center align-items-center taper-div">
            <img class="m-0 p-0 taper-vacio" src="../../assets/img/tapper-vacio.webp">
            <p class="m-0 p-0 fs-2">:(</p>
            <p class="m-0 p-0 text-center">Actualmente no hay ninguna donación publicada.</p>
          </div>
        </div>
        <div *ngIf="this.loading" class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-3 mt-0">
          <!--INICIO TARJETA DONACION EN CURSO-->
          <ng-container *ngFor="let donacion of this.donaciones; index as i" class="col" >
            <div *ngIf="donacion.id_usuario != this.idUsuario && this.racionesDisponibles[donacion.id_oferta] > 0">
              <div class="card h-100 mb-3 shadow-sm" id="{{donacion.id_oferta}}">
                <div class="card-header border-0 justify-content-between align-items-center">
                  <div class="cardimg">
                    <img src="../../assets/img/cocinar.jpg" alt="">
                  </div>
                  <p class="p-0 m-0">Donación Nº{{donacion.id_oferta}}</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-4 mb-1">{{donacion.nombre}}</h5>
                  <p class="card-text mb-1">{{donacion.descripcion}}</p>
                  <div *ngIf="donacion.anotacion!=''">
                    <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{donacion.anotacion}}</figcaption>
                  </div>
                  <h6 class="card-title mb-1">Alérgenos</h6>
                  <div class="d-flex flex-wrap mb-0 gap-1">
                      <app-pintaalergenos [alergenosPlato]=alergenosPlatos[i]></app-pintaalergenos>
                  </div>
                  <h6 class="card-title mt-0 mb-1">Datos de entrega</h6>
                  <p class="card-text mb-0">{{donacion.direccion}}, 0{{donacion.cp}}</p>
                  <p class="card-text mb-1">{{donacion.f_recogida}} a las {{donacion.h_recogida}}</p>
                  <div *ngIf="donacion.notas!=''">
                    <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{donacion.notas}}</figcaption>
                  </div>
                  <h6 class="card-title mt-2">Raciones: {{this.racionesDisponibles[donacion.id_oferta]}}</h6>
                  <div class="d-flex flex-wrap gap-2" id="plato_{{donacion.id_oferta}}">
                    <div *ngFor="let racion of [].constructor(this.racionesDisponibles[donacion.id_oferta]); index as u">
                      <input class="form-check-input m-0" type="checkbox" name="{{donacion.id_oferta}}" value="{{donacion.id_oferta}}">
                    </div>
                  </div>
                </div>
                <div class="card-footer border-0 div_solicitar">
                  <button (click)="comprobarRaciones(donacion.id_oferta)" class="btn solicitar" data-bs-toggle="modal" [attr.data-bs-target]="'#solicitarModal'+donacion.id_oferta">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <span>Solicitar</span>
                  </button>
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="solicitarModal{{donacion.id_oferta}}" tabindex="-1" aria-labelledby="solicitarModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <svg *ngIf="this.raciones > 0" xmlns="http://www.w3.org/2000/svg" width="30" fill="green" viewBox="0 0 16 16" class="bi bi-check-circle p-1">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                      </svg>
                      <svg *ngIf="this.raciones === 0" xmlns="http://www.w3.org/2000/svg" width="30" fill="red" class="bi bi-exclamation-triangle p-1" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                      </svg>
                      <h1 *ngIf="this.raciones > 0" class="modal-title fs-5" id="solicitarModalLabel">Donación solicitada</h1>
                      <h1 *ngIf="this.raciones === 0" class="modal-title fs-5" id="solicitarModalLabel">Algo ha ido mal</h1>
                      <svg *ngIf="this.raciones > 0" (click)="solicitar(donacion.id_oferta)" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg close p-1" width="30px" data-bs-dismiss="modal" aria-label="Close" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                      </svg>
                      <svg *ngIf="this.raciones === 0" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg close p-1" width="30px" data-bs-dismiss="modal" aria-label="Close" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                      </svg>
                    </div>
                    <div *ngIf="this.raciones > 0" class="modal-body text-center fs-6">
                      Tus raciones de "{{donacion.nombre}}" han sido correctamente solicitadas. Revisa y finaliza tu pedido.
                    </div>
                    <div *ngIf="this.raciones === 0" class="modal-body text-center fs-6">
                      No has seleccionado ninguna racion.
                    </div>
                    <div *ngIf="this.raciones > 0" class="modal-footer">
                      <button (click)="solicitarRedirigir(donacion.id_oferta)" type="button" class="btn btn-dark close" data-bs-dismiss="modal" aria-label="Close">Ir a mis pedidos</button>
                    </div>
                    <div *ngIf="this.raciones === 0" class="modal-footer">
                      <button type="button" class="btn btn-dark close" data-bs-dismiss="modal" aria-label="Close">Volver</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!--FIN TARJETA DONACION EN CURSO-->
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-navsm></app-navsm>
</footer>
