$lightgreen: rgb(59, 187, 70);

.alergenos_listado{
    display: flex;
    column-gap: 15px;
}

.alergeno_bloque{
    display: grid;
    font-size: 0.8em;
    text-align: center;
    
    & img{
        width: 30px;
    }
}

.titulo_oferta {
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

.racion{
    width: 16px;
    height: 16px;
    background-color: $lightgreen;
    border-radius: 4px;
  }