<div class="container-fluid main-section">
  <div class="row flex-nowrap main-height">
    <app-aside class="col-md-3 bg-light d-none d-md-block d-flex align-items-end bg-image shadow-sm"></app-aside>
    <div class="col-md-9 p-5 d-flex justify-content-center">
      <div class="section-section">
        <h5>Donaciones</h5>
        <p>Cuéntanos que quieres donar, así como donde y cuando vas a entregarlo.</p>
        <div class="section-section-buttons">
          <button [routerLink]="['/donar']" class="btn btn-light shadow-sm">Nueva</button>
          <button class="btn btn-dark shadow-sm">En curso</button>
          <button [routerLink]="['/donar/finalizadas']" class="btn btn-light shadow-sm">Finalizadas</button>
        </div>
        <div class="d-inline-flex flex-column justify-content-center align-items-center ps-4 mt-4">
          <p class="fs-1 m-0"><strong>{{this.donaciones.length}}</strong></p>
          <p><strong>En curso</strong></p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-3 mt-0">
          
          <!--INICIO TARJETA DONACION EN CURSO-->
          <div *ngFor="let donacion of this.donaciones; index as i" class="col">
            <div class="card h-100 mb-3 shadow-sm">
              <div class="card-header border-0 justify-content-between align-items-center">
                <div class="cardimg">
                  <img src="../../assets/img/cocinar.jpg" alt="">
                </div>
                <p class="p-0 m-0">Donación Nº{{donacion.id_oferta}}</p>
              </div>
              <div class="card-body">
                
                <h5 class="card-title mt-4 mb-1">{{donacion.nombre}}</h5>
                <p class="card-text mb-1">{{donacion.descripcion}}</p>
                <div *ngIf="donacion.notas!=''">
                  <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{donacion.notas}}</figcaption>
                </div>
                <h6 class="card-title mb-1">Alérgenos</h6>
                <div class="d-flex flex-wrap mb-2 gap-1">
                  
                  
                  <div class="alergenos_listado">
                    
                      <p *ngFor="let alergeno of this.alergenosPlatos[i]" class="alergeno_bloque">
                        <img title={{alergeno}} src="../../assets/img/alergenos/{{alergeno}}.png" alt="{{ alergeno.replace('_', ' ') | titlecase }}" title="{{ alergeno.replace('_', ' ') | titlecase }}">
                        <span class="alergeno_sub">{{ alergeno.substring(0,3) | uppercase }}</span>
                      </p>
                        
                      
                   
                </div>
                </div>
                <h6 class="card-title mt-3 mb-1">Datos de entrega</h6>
                <p class="card-text mb-0">{{donacion.direccion}}, <span *ngIf="donacion.cp.length<5">0</span>{{donacion.cp}}</p>
                <p class="card-text mb-1">{{donacion.f_recogida}} a las {{donacion.h_recogida}}</p>
                <div *ngIf="donacion.anotacion!=''">
                  <figcaption class="blockquote-footer ms-2 mt-1 mb-2">{{donacion.anotacion}}</figcaption>
                </div>
              </div>
              <div class="card-footer border-0 pb-3 pt-0">
                <h6 class="card-title">Raciones</h6>
                <div class="d-flex flex-wrap gap-2">
                  <div *ngFor="let r of this.racionesPlato[i]; index as u">
                    <div class="racion"></div>
                  </div>
                </div>
                <button type="button" class="btn btn-danger btn_editar_entrega" (click)="borrarEntrega(donacion.id_oferta)">Eliminar</button>
                <button type="button" class="btn btn-primary btn_editar_entrega" [routerLink]="['/donar/editar', donacion.id_oferta]">Editar entrega</button>

              </div>
              
            </div>
          </div>
          <!--FIN TARJETA DONACION EN CURSO-->
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-navsm></app-navsm>
</footer>
