<div class="container-fluid aside-section">
  <div class="row flex-nowrap aside-height">
    <app-aside class="col-md-3 bg-light d-none d-md-block d-flex align-items-end bg-image"></app-aside>
    <div class="col-md-9 p-5 d-flex justify-content-center">
      <div class="main-section">
        <h5>Ayuda</h5>
        <p>Aquí podrás ver que opinan de tus donaciones</p>
        <div class="main-section-buttons">
          <button [routerLink]="['/perfil']" class="btn btn-light">Perfil</button>
          <button class="btn btn-dark">Opiniones</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-navsm></app-navsm>
</footer>
